@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
  --background: #eaeaea;
  --foreground: #1a1a18;
  --accent: #bcb1aa;
}

html,
body {
  background: #fff !important;
  margin: 0 !important;
  padding: 0 !important;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
